html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
    text-align: center;
}

body {
    margin: 0;
    width: 100%;
    background-color: #f1f1f1;
}

.header {
    opacity: 1;
    overflow: hidden;
    background-color: #049faa;
    color: white;
    padding-bottom: 2px;
    font-size: 1rem;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
}

.estates{
    padding: 0;
    margin: 0;
}
.estates p{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}
.i-parada{
    background-color: grey;
}.i-marcha{
    background-color: green;
}.i-falla{
    background-color: rgb(252, 29, 29);
}

.nivel{
    height: 50px;
    display: flex;
    align-items: center;
}
.indicador-nivel{
    height: 80%;
    width: 20%;
    background-color: #000000;
}
#estado-nivel{
    flex: 80%
}
.content-sign-in{
    padding-top: 6rem;
}
.content {
    padding: 20px;
}

.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding: 5%;
}

.cards {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}

.reading {
    color: #193036;
}
.reading-modo{
    color: #193036;
    font-size: 1.2rem;
}
.Lectura{
    color: #193036;
    font-size: 0.9rem;
    text-align: left;
}
.items{
    text-align: left;
}

.date-time{
    font-size: 0.8rem;
    color: #1282A2;
}

button {
    background-color: #049faa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
   opacity: 0.8;
}
.deletebtn{
    background-color: #c52c2c;
}
#login-form{
    padding-top: 6rem;
}
.form-elements-container{
    padding: 16px;
    width: 250px;
    margin: 0 auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

table {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}   
tr, td {
    padding: 0.25rem;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:hover {
    background-color: #ddd;
}
th {
    position: sticky;
    top: 0;
    background-color: #50b8b4;
    color: white;
}
.left{
    display:flex;
    align-items:center;
    background-color:#dadada;
    justify-content:space-between;
}
.center{ 
    text-align:center;
}
.logout{
    width:20%;
    background-color:#c52c2c;
}
.right{
    width:20%;
}
.fa-github{
    color: #193036;
    font-size: 30px;
}
#proyect{
    margin: 0%;
    background-color: transparent;
}
#logout-link{
    border: none;
    background-color:#c52c2c;
}
#user-details{
    color: cadetblue;
}

/* The Modal (background) */
label {
    font-weight: bold;
    display: block;
    margin: 10px 0 5px;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}
/* Estilos para el control remoto */
#remote-control {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#remote-control button {
    width: 100%;
}

#waiting-confirmation {
    background-color: #ffcc00;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}

#remote-control-menu {
    display: flex;
    flex-direction: column;
}

#remote-control-menu > div {
    margin-bottom: 20px;
}

#manual-control, #automatic-control {
    display: none;
}

/* Estilos para los botones dentro del menú */
#confirm-settings-button {
    background-color: #17a2b8;
}

#confirm-settings-button:hover {
    background-color: #1392a5;
}

#close-remote-button {
    background-color: #dc3545;
}

#close-remote-button:hover {
    background-color: #c82333;
}
/* Botones on-off */
.on-off-button {
    background-color: #17a2b8;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.on-off-button.on {
    background-color: #28a745;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.on-off-button.off {
    background-color: #dc3545;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.on-off-button.on:hover {
    background-color: #218838;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.on-off-button.off:hover {
    background-color: #c82333;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}